################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Trainingym/.vs/Trainingym
/Trainingym/Trainingym/obj/Debug/net8.0/Trainingym.sourcelink.json
/Trainingym/Trainingym/obj/Debug/net8.0/Trainingym.pdb
/Trainingym/Trainingym/obj/Debug/net8.0/Trainingym.dll
/Trainingym/Trainingym/obj/Debug/net8.0/Trainingym.AssemblyInfo.cs
/Trainingym/Trainingym/obj/Debug/net8.0/Trainingym.AssemblyInfoInputs.cache
/Trainingym/Trainingym/obj/Debug/net8.0/apphost.exe
/Trainingym/Trainingym/obj/Debug/net8.0/refint/Trainingym.dll
/Trainingym/Trainingym/obj/Debug/net8.0/ref/Trainingym.dll
/Trainingym/Trainingym/bin/Debug/net8.0/Trainingym.dll
/Trainingym/Trainingym/bin/Debug/net8.0/Trainingym.exe
/Trainingym/Trainingym/bin/Debug/net8.0/Trainingym.pdb
/Trainingym/.vs/ProjectEvaluation/trainingym.metadata.v7.bin
/Trainingym/.vs/ProjectEvaluation
/Trainingym/Trainingym/obj/Trainingym.csproj.nuget.g.targets
/Trainingym/Trainingym/obj/Trainingym.csproj.nuget.dgspec.json
/Trainingym/Trainingym/obj/project.nuget.cache
/Trainingym/Trainingym/obj/project.assets.json
/Trainingym/Trainingym/bin/Debug/net8.0/runtimes
